/* AppComponent's private CSS styles */

h1 {
  font-size: 35px;
  margin-bottom: 2%;
  color: #7159c1;
}
nav a {
  padding: 8px 13px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  margin-right: 2%;
}
nav a:visited, a:link {
  color: #7159c1;
}
nav a:hover {
  color: #533da5;
  background-color: #cacdcf;
}
nav a.active {
  color:#cacdcf;
}
